.command {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #14191f;
  color: #aec2e0;
}
.command-lines {
  position: fixed;
  top: 15px;
  bottom: 15px;
  left: 15px;
  right: 15px;
  border: 2px solid #aec2e0;
  border-radius: 5px;
  padding: 10px;
  font-family: 'Cutive Mono', monospace;
}
.command-label {
  font-weight: bold;
  background-color: #14191f;
  z-index: 10;
  padding-left: 5px;
  padding-right: 5px;
  font-family: 'Cutive Mono', monospace;
  text-transform: capitalize;
}
.command-title {
  position: fixed;
  top: 5px;
  left: 22px;
}
.command-name {
  position: fixed;
  top: 5px;
  right: 22px;
}
.command-version {
  position: fixed;
  bottom: 5px;
  right: 22px;
}
.command-input {
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 100%;
  border: none;
  border-radius: 5px;
  outline: none;
  background: #267fb5;
  padding: 10px;
  font-family: 'Cutive Mono', monospace;
  font-size: 1.1em;
  color: #14191f;
}
.command-input-container {
  position: fixed;
  bottom: 25px;
  left: 25px;
  right: 25px;
}
